@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&family=Prata&display=swap');

html {
  box-sizing: border-box;
  box-sizing: inherit;
}

img {
  max-width: 100%
}

body {
font-family: 'Karla', sans-serif;
background-color: #F2EEE2;
}

.material-icons-round {
  color: #342F1E;
}

h1 {
  font-family: 'Prata', serif;
}

h2 {
  font-family: 'Prata', serif;
}

h3 {
  font-family: 'Prata', serif;
}

h4 {
  font-family: 'Prata', serif;
}

header img {
  max-width: 5rem;
  align-self: flex-start;
}

#menu-icon {
  font-size: 4rem;
}

header {
  border-bottom: solid;
  border-width: thin;
  border-color: #342F1E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem;
}

header nav {
display: flex;
flex-direction: column
}

header nav ul {
    list-style-type: none;
}

.menu ul,
.menu input,
.menu .closer,
.menu input:checked~.opener {
  display: none;
}

.menu input:checked~ul,
.menu input:checked~.closer {
  display: block;
}
