@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&family=Prata&display=swap');

html {
  box-sizing: border-box;
  box-sizing: inherit;
  margin: 0 auto;
}

img {
  max-width: 100%
}

body {
font-family: 'Karla', sans-serif;
background-color: #F2EEE2;
margin: 0;
font-size: 1.1rem;
}

/* main {
  max-width: 1000px;
  margin: 0 auto;
} */

.material-icons-round {
  color: #342F1E;
}

h1 {
  font-family: 'Prata', serif;
}

h2 {
  font-family: 'Prata', serif;
}

h3 {
  font-family: 'Prata', serif;
  font-size: 2rem;
  color: #8F740C;
}

h4 {
  font-family: 'Prata', serif;
}

.header-container img {
  max-width: 5rem;
  align-self: flex-start;
}

.header-container {
  border-bottom: solid;
  border-width: thin;
  border-color: #342F1E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  z-index: 9;
}

/* header nav {
display: flex;
flex-direction: column
} */

.hamburger {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before  {
  content: '';
  display: block;
  width: 2.5rem;
  height: .15rem;
  background-color: #342F1E;
  margin: .6rem 0;
  transition: 0.4s;
}

.hamburger .bar:hover,
.hamburger:after:hover,
.hamburger:before:hover {
  background-color: #8F740C;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-.5rem, .5rem);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-.5rem, -.5rem);
}

.menu-mobile {
  position: fixed;
  top: 0;
  left:100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #F9F6F1;
  margin-top: 6.15rem;
  border-top: solid;
  border-color: #342F1E;
  border-width: .15rem;
  transition: 0.4s;
}

.menu-mobile.is-active {
  left:0;
}

header nav ul li a{
  display: block;
  margin: 0 auto 1rem;
  text-align: center;
  padding: .75rem 1rem;
  border-bottom: solid;
  border-width: thin;
  border-color: #342F1E;
  max-width: 12rem;
}

.menu-expanded {
  display: none;
}

.header-container nav ul,
header nav ul {
  list-style-type: none;
}

.header-container nav ul li a,
header nav ul li a{
  text-decoration: none;
  color: #342F1E;
}

.header-container nav ul li a:hover,
header nav ul li a:hover{
  color: #8F740C;
}

.hero-banner {
  padding: 1rem 0 0;
  margin: 0;
}

.banner-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-logo img {
  max-width: 25rem;
  min-width: 5rem;
  height: auto;
}

.banner-location {
  display: flex;
  justify-content: center;
}

.banner-location a {
  color: #342F1E;
  font-size: 0.8rem;
}

.banner-location a:hover {
  color: #8F740C;
}

.banner-tagline {
  padding: 0 3rem;
  text-align: center;
  margin: 0 0 2.5rem;
  display: flex;
  justify-content: center;
}

.banner-tagline p {
  margin: 0;
}

#interior {
  width: 100%;
  max-height: 15rem;
  object-fit: cover;
}

.description-section {
  background-color: #F9F6F1;
  margin: 0;
  padding: 3rem 3rem 1rem 1rem;
}

.short-description p strong {
  color: #27C3A7;
  font-size: 1.5rem;
  font-family: 'Prata', serif;
}

.short-description p {
  max-width: 15.5rem;
  line-height: 1.5rem;
  z-index: 1;
}

.short-description {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5rem;
}

.description-section img {

  overflow: hidden;
  position: absolute;
  top: 850px;
  left: -100px;
  opacity: 70%;
  z-index: 0;
  max-width: 30rem;
}

.pairing {
  z-index: 1;
}

.pairing-show h3 {
  z-index: 1;
}

.pairing-show p {
  padding: 0 3rem;
}

.upcoming-show p {
  padding: 0 1rem;
}

.pairing-show,
.upcoming-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0 .5rem;
  margin: 0 2rem;
}

.upcoming-show img {
  width: 100%;
  max-height: 15rem;
  object-fit: cover;
  filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, .3));
}

.pairing-show img {
  filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, .3));
  max-width: 25rem;
}

.pairing-show a {
  color: #342F1E;
}

.pairing-show a:hover {
  color: #8F740C;
}

.pairing-show span,
.upcoming-show span {
  font-size: 3rem;
}

.pairing-show span:hover,
.upcoming-show span:hover {
  cursor: pointer;
  color: #8F740C;
}

.pairing-hide,
.upcoming-hide {
  background-color: #F9F6F1;
  padding: 1.5rem 2rem;
  text-align: center;
  justify-content: center;
  display: none;
  max-width: 30rem;
  margin: auto;
}

.pairing-hide p,
.pairing-show p,
.pairing-show img,
.upcoming-hide p,
.upcoming-show p,
.upcoming-show img  {
  max-width: 30rem;
}

.pairing-hide p,
.upcoming-hide p {
  margin: auto;
  padding: 1.5rem;
}

.product {
  background-color: #DBA845;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1.5rem;
  max-width: 13rem;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, .2));
}

.product img {
  border: solid;
  border-width: medium;
  border-color: #F9F6F1;
  max-width: 12rem;
}

.product p,
.product a {
  color: #F9F6F1;
  margin: .5rem 0 0;
}

.product-carousel {
  display: flex;
  flex-direction: column;
}

.carousels {
  background-color: #F2EEE2;
}

.whole-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #F9F6F1;
  margin: 4rem 0;
}

.whole-carousel h3 {
  margin: .5rem 0 0;
  padding: .5rem;
}

.whole-carousel p {
  margin: 0;
  padding: .5rem 1rem;
  max-width: 40rem;
}

.contact {
  color: #F9F6F1;
  background-color: #70B9AC;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.contact p {
  margin: 0;
}

#contact-us {
  font-family: 'prata', serif;
  font-size: 2.5rem;
  margin: 1.5rem 0 0;
}

.contact-info a {
color: #F9F6F1;
text-decoration: none;
margin: .5rem 0;
}

.contact-info a:hover {
  color: #A9EADE;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5rem 0 0;
}

#email::before {
  font-family: "Material Icons Round";
  content: 'email';
  vertical-align: middle;
  font-size: 2.5rem;
  margin: 0 .25rem 0 0;
}

#phone::before {
  font-family: "Material Icons Round";
  content: 'call';
  vertical-align: middle;
  font-size: 2.5rem;
  margin: 0 .25rem 0 0;
}

#location::before {
  font-family: "Material Icons Round";
  content: 'place';
  vertical-align: middle;
  font-size: 2.5rem;
  margin: 0 .25rem 0 0;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-top: solid;
  border-width: thin;
  border-color: #342F1E;
}

.item img {
  max-width: 15rem;
  border: solid;
  border-width: .2rem;
  border-color: #DBA845;
}

.sub-navigation {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: #F2EEE2;
  padding: .5rem 0;
}

.sub-navigation nav ul {
  list-style-type: none;
}

.sub-navigation nav ul li a{
  text-decoration: none;
  color: #342F1E;
  transition: all ease .3s;
  /* font-size: 1.6rem; */
}

.sub-navigation nav ul li a:hover {
  color: #8F740C;
}

.sub-navigation nav ul {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.sub-navigation nav ul li {
  padding: .5rem;
  border-bottom: solid;
  border-color: #8F740C;
  border-width: thin;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9F6F1;
  padding: 1.5rem;
  margin: 0 2rem 2rem;
}

.item p {
  max-width: 14.5rem;
  color: #342F1E;
  text-align: center;
  margin: 1rem 1rem 0;
}

#price {
  margin: .25rem 1rem 0;
}

.item a {
  max-width: 14.5rem;
  color: #342F1E;
  text-align: center;
}

.item a:hover {
  color: #8F740C;
}

.banner-wrapper {
  padding: 2rem 4rem 0;
}

.banner h2 {
 color: #DBA845;
 font-size: 2.6rem;
 margin: 2rem 1rem 0;
}

.banner p {
  max-width: 35rem;
  margin: 0 1rem 1.5rem;;
}

.item {
  border: solid;
  border-width: thin;
  border-color: #DBA845;
}

.banner-wrapper img {
  width: 14rem;
  margin: 0 2rem 2rem;
  opacity: 0.3;
  z-index: 0;
}

.banner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-banner img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-top: solid;
  border-width: 3rem;
  border-color: #DBA845;
}

@media (min-width: 768px) {

  body {
    font-size: 1.1em;
  }

  .menu-mobile,
  .hamburger {
    display: none;
  }

  .menu-expanded {
    display: contents;
  }

  .menu-expanded ul {
    display: flex;
    flex-direction: row;
  }

  .menu-expanded ul li a {
    border: none;
  }

  .banner-wrapper {
    flex-direction: row;
    justify-content: center;
  }

  .banner-wrapper img {
    width: 18rem;
    margin-top: 3rem;
  }

  #interior {
    max-height: 20rem;
  }

  .description-section {
    padding-right: 12rem;
  }

  .short-description p {
    max-width: 30rem;
  }

  .item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sub-navigation {
    padding-top: 2rem;
  }

}

@media (min-width: 940px) {
  .product-carousel {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .logo-tagline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 4rem;
  }

  .banner-logo {
    min-width: 30rem;
  }

  .description-section {
    padding-bottom: 10rem;
  }

  .pairing-upcoming {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .product-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .description-section img {
    top: 800px;
    left: 150px;
  }

  .upcoming-show img {
    max-height: 26rem;
  }

  .upcoming-show p {
    height: 3rem;
  }

  .upcoming-hide,
  .pairing-hide {
    height: 14rem;
  }

  .item-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contact-text,
  .contact-info {
    margin: 2rem;
  }

  .short-description p {
    padding-left: 40rem;
  }

}
